/* you can use tags in globals, this css applies to everypage */

:root {
  --darker-background: 104, 134, 109;
  --lighter-background: 248, 254, 246;
}

body {
  background-color: rgb(var(--lighter-background));
}